version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: csat_mysql
    restart: always
    environment:
      MYSQL_DATABASE: csat_db
      MYSQL_USER: csat_user
      MYSQL_PASSWORD: csat_password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: csat_api
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: mysql+pymysql://csat_user:csat_password@db:3306/csat_db
    volumes:
      - .:/app

volumes:
  mysql_data:
